<div ng-controller="LandingController" id="container">
  <div class="movie-container">
    <h2>Popular</h2>
      <ul ng-init="fetchPopularMovies()" class="movie-list">
        <a ng-repeat="popularMovie in popularMovies | limitTo:10" href="/movie/{{ popularMovie.id }}">
          <li>
            <div class="poster-container">
              <img src="http://image.tmdb.org/t/p/w185/{{popularMovie.poster_path}}" alt="">
            </div>
          </li>
        </a>
      </ul>
  </div>
  <div class="movie-container">
    <h2>Latest</h2>
      <ul ng-init="fetchLatestMovies()" class="movie-list">
        <a ng-repeat="latestMovie in latestMovies | limitTo:10" href="/movie/{{ latestMovie.id }}">
          <li>
            <div class="poster-container">
              <img src="http://image.tmdb.org/t/p/w185/{{latestMovie.poster_path}}" alt="">
            </div>
          </li>
        </a>
      </ul>
  </div>
  <div class="movie-container">
    <h2>Upcoming</h2>
      <ul ng-init="fetchUpcomingMovies()" class="movie-list">
        <a ng-repeat="upcomingMovie in upcomingMovies | limitTo:10" href="/movie/{{ upcomingMovie.id }}">
          <li>
            <div class="poster-container">
              <img src="http://image.tmdb.org/t/p/w185/{{upcomingMovie.poster_path}}" alt="">
            </div>
          </li>
        </a>
      </ul>
  </div>
</div>